body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#screen-field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

canvas {
    background-color: #42577254;
}