body {
    width: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #42577254;
}

/* the below is for test */
#box {
    background-color: black;
    z-index: 1;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    display: none;
}
/* end of the test thingy */