@import 'variables', 'placeholders';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Global Elements

html {
    font-size: 24px;
    overflow: hidden;
}

body {
    @extend %full-wh;
    @extend %zero-pm;
    background-color: $background-color;
    font-family: 'Press Start 2P', cursive;
}

// Canvas

#canvas-cnt {
    @extend %full-wh;
    position: absolute;
    @extend %flex-center;

    canvas {
        background-color: $background-color;
    }
}

// Texts

#text-cnt {
    @extend %full-wh;
    position: absolute;
    z-index: 1;
    @extend %flex-center;

    div.text {
        width: 50%;
        height: 50%;
        position: absolute;
        @extend %flex-center;

        p.text-bit {
            text-align: center;
        }
        
    }

    // Game States' Texts

    div.hide {
        visibility: hidden;
    }
    
    div.show {
        visibility: visible;
    }

}

// temprorary

footer {
    display: none;
}