@import 'variables', 'placeholders';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Global Elements

html {
    font-size: 24px;
    overflow: hidden;
}

body {
    @extend %full-wh;
    @extend %zero-pm;
    background-color: $background-color;
    font-family: 'Press Start 2P', cursive;
}

// Canvas

#canvas-cnt {
    @extend %full-wh;
    position: absolute;
    top: 0;
    left: 0;
    @extend %flex-center;

    canvas {
        background-color: $background-color;
    }
}

// Texts

#text-cnt {
    @extend %full-wh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @extend %flex-center;
}

// Game States' Texts

.hide {
    display: none;
}

.show {
    display: block;
}

// temprorary

footer {
    display: none;
}